/* CSS RESET */

body,
img,
h1,
p,
fieldset,
legend,
input,
button,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url(../fontes/inter-variable.ttf) format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F9FAFB;
  margin: 0 auto;
  letter-spacing: 2px;
 
}
header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-title{

    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8E44AD; 
    margin-bottom: 12px;
 
  
}



