/* CSS RESET */

body,
img,
h1,
p,
fieldset,
legend,
input,
button,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url(../fontes/inter-variable.ttf) format("truetype");
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
 
}
header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-title{

  font-size: 16px;
  color:#8E2424 ;
  text-align: center;
  
}



