.hero{
    margin-top: 96px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #101828;
    line-height: 1.2;
    text-align: center;
}

.hero h2.section-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8E44AD; 
    margin-bottom: 12px;
    text-align: center;
}

.hero p{
    font-size: 20px;
    color:#667085 ;
    text-align: center;
    margin: 26px;
    
}

@media screen and (max-width: 468px) {
    .hero h1{
        font-size: 36px;
    }
    .hero p{
        font-size: 18px;
    }
}