.metrics .container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 32px;
    text-align: left;
    margin: 107px auto 0;
    border:  5px solid  #8E2424;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    padding: 0 0 40px 30px;
}


.metrics h3{
    color: #8E2424;
    font-size: 60px;
  
}

.metrics h4{
    color: #101828;
    font-size: 18px;
}

@media screen and (max-width: 468px){
    
    .metrics{
        flex-direction: column;
        text-align: center;
       
    }

}