.metrics .container{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 24px;
    text-align: left;
    margin: 107px auto 0;
    border:  3.5px solid  #8E2424;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding:40px;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.metric:hover {
    transform: translateY(-5px); /* Um feedback tátil e suave ao passar o mouse */
}

.metric{
 flex: 1
}

.metrics h3{
    color: #8E2424;
    font-size: 60px;
  
}

.metrics p {
    margin: auto;
}

.metrics h4{
    color: #101828;
    font-size: 18px;
}

@media screen and (max-width: 468px){
    
    .metrics{
        flex-direction: column;
        text-align: center;
       
    }

}